USE [master]
GO
/****** Object:  Database [Ejercicio]    Script Date: 17/07/2023 12:43:42 ******/
CREATE DATABASE [Ejercicio]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Ejercicio', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Ejercicio.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Ejercicio_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Ejercicio_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Ejercicio].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Ejercicio]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 17/07/2023 12:43:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[IDEMPLEADO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NULL,
	[APELLIDO] [varchar](100) NULL,
	[FECHACONTRATO] [datetime] NULL,
	[SUELDO] [decimal](18, 2) NULL,
	[IDTIPOUSUARIO] [int] NOT NULL,
	[IDTIPOCONTRATO] [int] NOT NULL,
	[IDSEXO] [int] NOT NULL,
	[HABILITADO] [int] NULL,
	[TIENEUSUARIO] [int] NULL,
	[TIPOUSUARIO] [char](1) NULL,
 CONSTRAINT [PK_Empleado] PRIMARY KEY CLUSTERED 
(
	[IDEMPLEADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sexo_Empleado]    Script Date: 17/07/2023 12:43:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sexo_Empleado](
	[ID_SEXO] [int] IDENTITY(1,1) NOT NULL,
	[SEXO] [varchar](50) NULL,
	[HABILITADO] [tinyint] NULL,
 CONSTRAINT [PK_Sexo_Empleado] PRIMARY KEY CLUSTERED 
(
	[ID_SEXO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 17/07/2023 12:43:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Correo] [varchar](100) NULL,
	[Clave] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Empleado] ON 

INSERT [dbo].[Empleado] ([IDEMPLEADO], [NOMBRE], [APELLIDO], [FECHACONTRATO], [SUELDO], [IDTIPOUSUARIO], [IDTIPOCONTRATO], [IDSEXO], [HABILITADO], [TIENEUSUARIO], [TIPOUSUARIO]) VALUES (7, N'Facundo', N'No One', CAST(N'2023-07-21T00:00:00.000' AS DateTime), CAST(777777.00 AS Decimal(18, 2)), 1, 1, 1, 1, 1, N'A')
INSERT [dbo].[Empleado] ([IDEMPLEADO], [NOMBRE], [APELLIDO], [FECHACONTRATO], [SUELDO], [IDTIPOUSUARIO], [IDTIPOCONTRATO], [IDSEXO], [HABILITADO], [TIENEUSUARIO], [TIPOUSUARIO]) VALUES (14, N'Rick', N'Sanchez', CAST(N'2023-04-14T00:00:00.000' AS DateTime), CAST(999999.00 AS Decimal(18, 2)), 0, 0, 1, 1, NULL, NULL)
INSERT [dbo].[Empleado] ([IDEMPLEADO], [NOMBRE], [APELLIDO], [FECHACONTRATO], [SUELDO], [IDTIPOUSUARIO], [IDTIPOCONTRATO], [IDSEXO], [HABILITADO], [TIENEUSUARIO], [TIPOUSUARIO]) VALUES (1014, N'Tony', N'Starck', CAST(N'2023-06-09T00:00:00.000' AS DateTime), CAST(99999999999999.00 AS Decimal(18, 2)), 0, 0, 1, 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Empleado] OFF
GO
SET IDENTITY_INSERT [dbo].[Sexo_Empleado] ON 

INSERT [dbo].[Sexo_Empleado] ([ID_SEXO], [SEXO], [HABILITADO]) VALUES (0, N'Femenino', 1)
INSERT [dbo].[Sexo_Empleado] ([ID_SEXO], [SEXO], [HABILITADO]) VALUES (1, N'Masculino', 1)
SET IDENTITY_INSERT [dbo].[Sexo_Empleado] OFF
GO
SET IDENTITY_INSERT [dbo].[USUARIOS] ON 

INSERT [dbo].[USUARIOS] ([IdUsuario], [Correo], [Clave]) VALUES (1, N'facu25252002@gmail.com', N'4B317895F5269041ABABFD4ACD7A56DF64FD0A14E4B175F8437D8B53E338FEEF')
INSERT [dbo].[USUARIOS] ([IdUsuario], [Correo], [Clave]) VALUES (2, N'facu2525@gmail.com', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92')
INSERT [dbo].[USUARIOS] ([IdUsuario], [Correo], [Clave]) VALUES (3, N'facu2002@gmail.com', N'a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa07e998e86f7f7a27ae3')
SET IDENTITY_INSERT [dbo].[USUARIOS] OFF
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD  CONSTRAINT [FK_Empleado_Sexo] FOREIGN KEY([IDSEXO])
REFERENCES [dbo].[Sexo_Empleado] ([ID_SEXO])
GO
ALTER TABLE [dbo].[Empleado] CHECK CONSTRAINT [FK_Empleado_Sexo]
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarUsuario]    Script Date: 17/07/2023 12:43:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_RegistrarUsuario](
@Correo varchar (100),
@Clave varchar (500),
@Registrado bit output,
@Mensaje varchar (100) output


)
as
begin
  if(not exists(select * from USUARIOS where Correo = @Correo))
   begin
	  insert into USUARIOS(Correo,Clave)values(@Correo,@Clave)
	  set @Registrado = 1
	  set @Mensaje = 'Usuario Registrado'
	end
	else
	 begin
	 set @Registrado = 0
	 set @Mensaje = 'El Correo ya existe'
	 end
end
GO
/****** Object:  StoredProcedure [dbo].[sp_ValidadUsuario]    Script Date: 17/07/2023 12:43:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[sp_ValidadUsuario](
@Correo varchar (100),
@Clave varchar (500)


)
as
begin
   if(exists(select * from USUARIOS where Correo = @Correo and Clave = @Clave))
    select IdUsuario from USUARIOS where Correo = @Correo and Clave = @Clave
	else 
	  select '0'
end
GO
USE [master]
GO
